<!DOCTYPE html>
<html class=" js cssanimations csstransitions" lang="en"><head>
         <title>Natyanjali</title> 
        <%= stylesheet_link_tag "home" %>
        <%= stylesheet_link_tag "responsive_menu" %>
        <%= stylesheet_link_tag "bjqs" %>
        <%= stylesheet_link_tag "demo" %>
        <%= stylesheet_link_tag "media_queries" %>
        <!-- css3-mediaqueries.js for IE less than 9 -->
<!--[if lt IE 9]>
	<script src="js/css3-mediaqueries.js"></script>
<![endif]-->
<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "bjqs_1.js" %>
    <%= javascript_include_tag "index_slide.js" %>
    <%= javascript_include_tag "modernizr.js" %>
    <style type="text/css">.fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}.fb_link img{border:none}
.fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_reset .fb_dialog_legacy{overflow:visible}.fb_dialog_advanced{padding:10px;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}.fb_dialog_content{background:#fff;color:#333}.fb_dialog_close_icon{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{top:5px;left:5px;right:auto}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_close_icon:active{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;_background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif)}.fb_dialog_loader{background-color:#f6f7f8;border:1px solid #606060;font-size:24px;padding:20px}.fb_dialog_top_left,.fb_dialog_top_right,.fb_dialog_bottom_left,.fb_dialog_bottom_right{height:10px;width:10px;overflow:hidden;position:absolute}.fb_dialog_top_left{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;left:-10px;top:-10px}.fb_dialog_top_right{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;right:-10px;top:-10px}.fb_dialog_bottom_left{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;bottom:-10px;left:-10px}.fb_dialog_bottom_right{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;right:-10px;bottom:-10px}.fb_dialog_vert_left,.fb_dialog_vert_right,.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{position:absolute;background:#525252;filter:alpha(opacity=70);opacity:.7}.fb_dialog_vert_left,.fb_dialog_vert_right{width:10px;height:100%}.fb_dialog_vert_left{margin-left:-10px}.fb_dialog_vert_right{right:0;margin-right:-10px}.fb_dialog_horiz_top,.fb_dialog_horiz_bottom{width:100%;height:10px}.fb_dialog_horiz_top{margin-top:-10px}.fb_dialog_horiz_bottom{bottom:0;margin-bottom:-10px}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #3a5795;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{-webkit-transform:none;height:100%;margin:0;overflow:visible;position:absolute;top:-10000px;left:0;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{max-height:590px;min-height:590px;max-width:500px;min-width:500px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .45);position:absolute;left:0;top:0;width:100%;min-height:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_content .dialog_header{-webkit-box-shadow:white 0 1px 1px -1px inset;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));border-bottom:1px solid;border-color:#1d4088;color:#fff;font:14px Helvetica, sans-serif;font-weight:bold;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{-webkit-font-smoothing:subpixel-antialiased;height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));border:1px solid #2f477a;-webkit-background-clip:padding-box;-webkit-border-radius:3px;-webkit-box-shadow:rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;display:inline-block;margin-top:3px;max-width:85px;line-height:18px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{border:none;background:none;color:#fff;font:12px Helvetica, sans-serif;font-weight:bold;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #555;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f6f7f8;border:1px solid #555;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}
.fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_hide_iframes iframe{position:relative;left:-10000px}.fb_iframe_widget_loader{position:relative;display:inline-block}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}.fb_iframe_widget_loader iframe{min-height:32px;z-index:2;zoom:1}.fb_iframe_widget_loader .FB_Loader{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;height:32px;width:32px;margin-left:-16px;position:absolute;left:50%;z-index:4}</style></head>
    <body>
    <div class=" fb_reset" id="fb-root"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
<script></script>
<script>

</script>

        <div class="container">
            <div class="top_wrpr"> <a href="/"><img src=<%= "#{asset_url("logo.png")}"%>  border="0"></a> 
                
              
            </div><!--/ top_wrpr ends -->
			<header>
				<p class="top_links">
						<a href="/">Home</a>
						<a href="/expression">Expression</a>
			          <a class="current-link" href="/classes">Classes & Fees</a>
			          <a href="/about">About Us</a>
			          <a href="/contact">Contact Us</a>
				</p>
			</header>
            <!--responsive_menu-->
            <nav id="res_menu">
		<ul style="" class="clearfix">
			<li><a href="/">Home</a></li>
			<li><a href="/expression">Expression</a></li>
			<li><a class="current-link" href="/classes">Classes & Fees</a></li>
			<li><a href="/about">About Us</a></li>
			<li><a href="/contact">Contact Us</a></li>
		</ul>
		<a href="#" id="pull">Menu</a>
	</nav>
    		<!--responsive slider-->
            <div id="responsive_slider">

      <!--  Outer wrapper for presentation only, this can be anything you like -->
      <div style="height: 0px; max-width: 280px; position: relative;" id="banner-fade">

        <!-- start Basic Jquery Slider -->
          <ul style="height: 0px; width: 100%; display: block;" class="bjqs">
          <li style="height: 0px; width: 100%; display: list-item;" class="bjqs-slide"><img style="height: 0px; width: 100%;" src=<%= "#{asset_url("kathak.png")}"%>></li>
          <li style="height: 0px; width: 100%; display: list-item;" class="bjqs-slide"><img style="height: 0px; width: 100%;" src=<%= "#{asset_url("bharatanatyam1.png")}"%>></li>
          <li style="height: 0px; width: 100%; display: list-item;" class="bjqs-slide"><img style="height: 0px; width: 100%;" src=<%= "#{asset_url("kathakali.png")}"%>></li>
          <li style="height: 0px; width: 100%; display: list-item;" class="bjqs-slide"><img style="height: 0px; width: 100%;" src=<%= "#{asset_url("kuchipudi.png")}"%>></li>
          <li style="height: 0px; width: 100%; display: list-item;" class="bjqs-slide"><img style="height: 0px; width: 100%;" src=<%= "#{asset_url("manipuri.png")}"%>></li>
          <li style="height: 0px; width: 100%; display: list-item;" class="bjqs-slide"><img style="height: 0px; width: 100%;" src=<%= "#{asset_url("mohiniyatam.png")}"%>></li>
        </ul>
        <!-- end Basic jQuery Slider -->

      <ul class="bjqs-controls v-centered">
	  <li class="bjqs-prev"><a style="top: -1.40351%;" href="#" data-direction="previous">Prev</a></li>
	  <li class="bjqs-next"><a style="top: -1.40351%;" href="#" data-direction="forward">Next</a></li>
	  </ul>
	  <ol style="left: 90px;" class="bjqs-markers h-centered">
		<li class=""><a href="#">1</a></li><li class="active-marker">
			<a href="#">2</a></li><li class=""><a href="#">3</a></li>
		<li class=""><a href="#">4</a></li><li class="">
			<a href="#">5</a></li>
		<li class="">
			<a href="#">6</a></li>
	  </ol>
	  </div>
      <!-- End outer wrapper -->

     

    </div>
			<div  class="classescontent">
				<!--<div class="subcontainer">
					<div class="aran">Arangettam</div>
					<div class="fees">Fee Structure</div>
					<div class="clas">Classes</div>
				</div>-->
				<div class="arang"><h2>Arangettam</h2>
					<div class="arangsub"><p >The basic Certificate course conducted at all the branches.
						In this a student learns the basics of Bharat Natyam and acquires a minimum quality
						level of a dancer. It is aimed more at creating appreciation and giving sound knowledge
						base of dance. As part of the training every student performs annually on stage and thus
						gains confidence at personal level. Here the concentration is on perfecting the technique.
						The guru has to dedicate considerable time for the one-to-one classes, give special training
						sessions for the student and conduct several rehearsals with a live orchestra. 
						</p>
					</div>
					
					<div class="fee"><h2>Fee Structure</h2>
							<div class="feesub">
									<table>
									<th>Duration</th>
									<th>Amount</th>
									<tr>
										<td>
											January to April (4 months)
										</td>
										<td>
											Rs:1200/-
										</td>
									</tr>
									<tr>
										<td>
											June to December (7 months)
										</td>
										<td>
											Rs:2100/-
										</td>
									</tr>
								</table>
								<p>FEE STRUCTURE: Rs:300/- per month
								</p>
							</div>
					</div>
				<div class="classes"> <h2 >Classes</h2>
					<div class="classsub"> <ul class="policy">
						<li>Regular Classes are taken on SATURDAY& SUNDAY.</li>
						<li>Special & Competition classes are available on daily evening.</li>
						<li>Mohini Attam classes are offered during the day time.</li>
						</ul>
						<p>Students selected to join Natyanjali must pay the Term Fees on before 10th in the first month of every term and pay the Registration fees on the date of joining.
						</p>
						
					</div>
				</div>
				<p class="notep">
							NOTE: There are short-term courses available e.g. 3 months, 6 months, 12 months for outstation candidates.
						</p>
				<div class="refund"> <h2>Refund Policy</h2>
					<div class="refundsub"><ul class="policy">
						<li >If  student is  prevented from  taking  class  for  medical  or  professional reasons,  credit  is  given  only  if  a  written  statement  from  a  doctor  or  school
						or  employer  accompanies  the  request.                                                                                 </li>
						<li>The director  may  ask  for  additional  information  before  giving credit.</li>
						<li>Credit may be  arranged  only  during  the  student’s return to  class  and  in  the form  of class  tuition.</li>
						<li>No  credit  for  unused  classes  will  apply  for  more  than  one  year from  the  date  of  the  last  attendance.</li>
						<li>Any  problems  due  to  unusual  circumstances  should  be  discussed  with  the  director.</li>
						</ul>
					</div>
				</div>
				</div>

				                   
				
				
				
				
				<div>
					<div id="footer">
						<div class="copyright">
						</div>
						<div class="iantz"><script language="JavaScript">
					   
									</script>
						</div>
							<div class="clr"></div>
					</div><!--footer ends here-->
				</div>
			<div>	
		<%= javascript_include_tag "jquery_002.js" %>
		<script type="text/javascript">
			
		</script>	
         <script class="secret-source">
        jQuery(document).ready(function($) {

          $('#banner-fade').bjqs({
            height      : 285,
            width       : 280,
            responsive  : true
          });

        });
      </script>
    
</body></html>