
	<script src="/assets/javascripts/exp.js"></script>
	<div class="maincontainer">		

		<div class="submenu">
			<div class="smenu"><a id="button1" href="#" class="barath" tabindex="1">Barathanatyam</a></div>
			<div class="smenu"><a id="button2" href="#" tabindex="2" >Mohiniyattam</a></div>
			<div class="smenu"><a id="button3" href="#" class="qwerty" tabindex="3">Kathakali</a></div>
			<div class="smenu"><a id="button4" href="#" tabindex="4">Kathak</a></div>
			<div class="smenu"><a id="button5" href="#" class="qwerty" tabindex="3">Odissi</a></div>
			<div class="smenu"><a id="button6" href="#" tabindex="4">Kuchipudi</a></div>
			<div class="smenu"><a id="button7" href="#" tabindex="4">Manipuri</a></div>
		</div>
	<div id="content" class="arcon"> 
		<div id="faq">
		 <div id="fa">
			<h3 >Bharatanatyam</h3>
				<hr>
					<p>
						Bharatanatyam is a classical dance from the South Indian state of Tamil Nadu, practiced predominantly in modern times by women. The dance is usually accompanied by classical Carnatic music. Its inspirations come from the sculptures of the ancient temple of Chidambaram. It was codified and documented as a performing art in the 19th century by four brothers known as the Thanjavur Quartet whose musical compositions for dance form the bulk of the Bharatanatya repertoire even today.
					</p>
		</div>
		<div class="img"><%= image_tag("bharatanatyam1.png") %></div>
		</div>
		<div id="her">
		<div id="he" class="hr">
			<h3 >Mohiniyattam</h3>
				<hr>
					<p >
						Mohiniyattam is a beautiful dance form of the women of Kerala and it is one of the classical dances of India too.Among the various styles detailed by Bharata Muni in his Natya Shastra, Mohiniyattam most resembles the kaisiki type.Consisting, as it does, of gentle Angahara-s and belonging to the Lasya style which is feminine, tender and graceful: The kaisiki style is most appropriate for the erotic sentiment and its related expressions.
	It has often been said that the movements of the limbs and body of the danseuse of Mohiniyattam should be gentle and graceful like the waves in a calm sea or the swaying of the paddy plants in the field, in a breeze.To know some basic principles that govern the Mohiniyattam dance style will be of great help for all artistes and art lovers to enjoy this art form.
	Like many other Indian dance forms the aspects of Mohiniyattam can be divided mainly into two - Nritha and Nrithya . When a child starts learning Mohiniyattam she /he starts first with the Nritha .
	upon the level of the knees there are five such stances in Mohiniyattam.These are the Sama mandalam,Aramandalam, Muzhumandalam,Mukkalmandalam and Kaalmandalam.
					</p>
		</div>
		<div class="img"><%= image_tag("mohiniyatam.png",style:"margin-left:30px; margin-top:50px;") %></div>
		</div>
		<div id="and">
		<div id="an">
			<h3 >Kathakali</h3>
			<hr>
				<p>
					Kathakali is a highly stylized classical dance-drama form which originated from Kerala in the 17th century. This classical dance form is particularly noticed for dancer's elaborate costume, towering head gear, billowing skirts, and long silver nails. Recent developments in Kathakali over the years include improved looks, refined gestures and added themes besides more ornate singing and precise drumming. Kathakali is performed regularly at festivals in temples, at cultural shows for connoisseurs and also at international events, occasionally in fusion dance experiments. 
				</p>
		</div>
		<div class="img"><%= image_tag("kathakali.png") %></div>
		</div>
		 
		 
		 
		 <div id="enj">
		 <div id="en">
			<h3 >Kathak</h3>
				<hr>
					<p>
						Originating from north Indian states, In ancient Indian temples Brahmin priests used to narrate the stories of gods and goddesses through dance, they were known as kathakar and the dance came to be known as "kathak". Kathak traces its origins to the nomadic bards of ancient northern India, known as Kathaks, or storytellers.[24] Its form today contains traces of temple and ritual dances, and the influence of the bhakti movement. From the 16th century onwards it absorbed certain features of Persian dance and Central Asian dance which were imported by the royal courts of the Mughal era. There are three major schools or gharanas of Kathak from which performers today generally draw their lineage: the gharanas of Benares, Jaipur and Lucknow.
					</p>
		</div>
		<div class="img"  style="margin-top:10px;"><%= image_tag("kathak.png")%></div>
		</div>
		
		
		
		
		<div id="odissi">
		 <div id="odi">
			<h3 >Odissi</h3>
				<hr>
					<p>
						It originates from the state of  Odisha, in eastern India. It is the oldest surviving dance form of India on the basis of archaeological evidences. The classic treatise of Indian dance, Natya Shastra, refers to it as Odra-Magadhi. It was suppressed under the British Raj, but has been reconstructed since India gained independence. It is particularly distinguished from other classical Indian dance forms by the importance it places upon the Tribhangi ,the independent movement of head, chest and pelvis  and upon the basic square stance known as Chauka or Chouka that symbolises Lord Jagannath. This dance is characterised by various Bhangas ,which involves stamping of the foot and striking various postures as seen in Indian sculptures. 
					</p>
		</div>
		<div class="img odissi"><%= image_tag("odissi.png",style:"margin-left:40px;margin-top:10px;") %></div>
		</div>
		
		<div id="kuchipudi">
		 <div id="kuchi">
			<h3 >Kuchipudi</h3>
				<hr>
					<p>
						Kuchipudi  is a classical dance from the South Indian state of Andhra Pradesh. Kuchipudi is the name of a village in the Divi Taluka of Krishna district that borders the Bay of Bengal and also the surname of the resident Brahmins practicing this traditional dance form, it acquired the present name. The performance usually begins with some stage rites, after which each of the character comes on to the stage and introduces him/herself with a dharavu  to introduce the identity, set the mood, of the character in the drama. The drama then begins. The dance is accompanied by song which is typically Carnatic music. The singer is accompanied by mridangam, violin, flute and the tambura. Ornaments worn by the artists are generally made of a light weight wood called Boorugu. 
					</p>
		</div>
		<div class="img kuch"><%= image_tag("kuchipudi.png",style:"margin-left:50px;margin-top:10px;") %></div>
		</div>
		
		<div id="manipuri">
		 <div id="mani">
			<h3 >Manipuri</h3>
				<hr>
					<p>
						The traditional Manipuri dance style embodies delicate, lyrical and graceful movements. The aim is to make rounded movements and avoid any jerks, sharp edges or straight lines. It is this which gives Manipuri dance its undulating and soft appearance. The foot movements are viewed as part of a composite movement of the whole body. The dancer puts his or her feet down, even during vigorous steps, with the balls of the feet touching the ground first. The ankle and knee joints are effectively used as shock absorbers. The dancer’s feet are neither put down nor lifted up at the precise rhythmic points of the music but rather slightly earlier or later to express the same rhythmic points most effectively.
					</p>
		</div>
		<div class="img mani"><%= image_tag("manipuri.png",style:"margin-left:30px; margin-top:10px;") %></div>
		</div>
		
		
	</div>
</div>	 

