<div id="hadercontainer">  
	<div class="header">
		<div id="slider">
			<%= image_tag 'image1.jpg' %>
			<%= image_tag 'image2.jpg' %>
			<%= image_tag 'image1.jpg' %>
			<%= image_tag 'image2.jpg' %>
			<%= image_tag 'image1.jpg' %>
		</div>
	</div>
</div>   
<div class="maincontainer">
<div class="textarea">
 <p>I welcome you to natyanjali school of classical dances and music , an institute devoted to dance. Here you will learn and perform various types of Indian dance forms.The major dance form at the academy is the Indian classical style "Bharatnatyam". Besides the classical style, we also perform semi-classical and Indian folk style dance.</p>
<h3> My Dream</h2>

<hr>
 <p>I dream of building a society of dancers in the valley of nature. It’s a  place where everything has a soul in dance. A space where you breathe, eat, sleep, dream, talk and walk through dance. Our class room is a place where dancers drop negative qualities such as jealousy, small-mindedness, greed and malice to embrace their colleagues as sisters and support each other in their journey towards becoming dancers of merit.
</p>
</div>
</div>

