<div id="hadercontainer" style="margin-left: 160px;">  
	<div class="header" style="float: left; border:4px solid #D27425; border-radius:660px;">
		<div id="slider">
			<%= image_tag 'image1.png' %>
			<%= image_tag 'image2.png' %>
			<%= image_tag 'image1.png' %>
			<%= image_tag 'image2.png' %>
			<%= image_tag 'image1.png' %>
		</div>
	</div>
	<div style="float: left; width: 300px; text-align: justify; margin-left:10px;">
		<p style=" padding-left:20px; padding-right:20px; padding-top:2px; padding-bottom:5px;box-shadow: 0px 0px 10px #E47D18;">
			&nbsp;&nbsp;&nbsp;&nbsp;I welcome you to natyanjali school of classical dances and music, an institute devoted to dance. Here you will learn and perform various types of Indian dance forms. The major dance form at the academy is the Indian classical style "Bharatnatyam". Besides the classical style, we also perform semi-classical and Indian folk style dance.
		</p>
	</div>
</div>
<div class="maincontainer" style="margin-top:0px;">
	<div class="textarea" style="width:1000px;text-align: justify; height:auto; box-shadow: 0px 0px 20px 1px rgb(228, 125, 24); border:2px solid #D27425; border-radius:12px; padding:5px;">
		<h3> My Dream </h3>
	 	<p>
		 	&nbsp; &nbsp; &nbsp;&nbsp; I dream of building a society of dancers in the valley of nature. It’s a  place where everything has a soul in dance. A space where you breathe, eat, sleep, dream, talk and walk through dance. Our class room is a place where dancers drop negative qualities such as jealousy, small-mindedness, greed and malice to embrace their colleagues as sisters and support each other in their journey towards becoming dancers of merit.
		</p>
	</div>
</div>

