<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script>
$(function() {
$( "#user_dob" ).datepicker({
changeMonth: true,
changeYear: true,
yearRange: "-100:+0"
});
});
</script>
    <%= simple_form_for (@user) do |f| %>

	<table class="signuptable">


    <tr>   
<td><%= f.input :name %></td>

	<td> <%= f.input :email %></td>
</tr>
		
		<tr>
			<td><%= f.input :password %></td>

			<td><%= f.input :password_confirmation, label:"Confirmation" %></td>
		</tr>
		
		<tr>
			<td> <%= f.input :address, label:"Address" %></td>
		</tr>

		<tr>
			<td> <%= f.input :phone, input_html: { min: 0 } %></td>

			<td> <%= f.input :sex %></td>
		</tr>
		

		<tr>
            <td><%= f.label :dob, "Date of Birth:" %></td>
			<td><%= f.text_field :dob %></td>
		</tr>
		<tr>
			<td>  <%= f.input :school,label: "Name of school" %></td>

			<td><%= f.input :school_class,label: "Class" %></td>
		</tr>

		</div>

		<tr>
			<td> <%= f.input :f_name,label: "Father's name" %></td>

			<td>  <%= f.input :f_occupation,label: "Father's occupation" %></td>
		</tr>
		
		<tr>
			<td><%= f.input :m_name, label: "Mother's name" %></td>

			<td> <%= f.input :m_occupation, label: "Mother's occupation" %></td>
		</tr>
		
		
		<tr>
			<td> <%= f.input :dance_school, label: "Name of dance school"%></td>

			<td><%= f.input :dance_teacher, label: "Name of dance teacher" %></td>
		</tr>
		
		<tr>
			<td>  <%= f.input :dance_years, label: "No of years studied", input_html: { max: 99, min: 0 } %></td>
		</tr>
		
		<tr>
			<td> <%= f.input :g_name, label: "Name of Guardian" %></td>


			<td>  <%= f.input :place %></td>

		</tr>
<tr><td>
        <%= f.submit "#{$bt_text}" , style:"width:100px;height:40px", class:"btn btn-primary"%>
</td>
</tr>
</table>
      <% end %>
