<script src="/assets/javascripts/enrollment.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<script>
  $(function() {
  $( "#user_dob" ).datepicker({
  dateFormat: 'dd-mm-yy',
  changeMonth: true,
  changeYear: true,
  yearRange: "-100:+0"
  });
  });
</script>
<%= simple_form_for (@user) do |f| %>
<div id="details">
<table class="signuptable">
  <tr>   
    <td><%= f.input :name %></td>

    <td> <%= f.input :email %></td>
  </tr>
  
  <tr>
    <td><%= f.input :password %></td>

    <td><%= f.input :password_confirmation, label:"Confirm Password" %></td>
  </tr>
  
  <tr>
    <td> <%= f.input :address, label:"Address" %></td>
    <!--<td> <%= label_tag 'branch', 'Select branch' %> <%=  select_tag "branch", options_from_collection_for_select(@branches, "id", "name") %> </td>-->
  </tr>

  <tr>
    <td> <%= f.input :phone, label: "Phone no:", input_html: { min: 0, type: "tel" } %></td>
    <td> <%= f.input :sex, label: "Gender", collection: ['male','female'] %></td>
  </tr>
  
  <tr>
    <td><%= f.label :dob, "Date of Birth:" %><%= f.text_field :dob, placeholder: "dd-mm-yyyy" %></td>
    <td colspan="2"><a href="#" class="next" id="next1" style="float:right;"> Next&gt;&gt;</a></td>
  </tr>
</table>
</div>
<div id="otherdetails">
<table class="signuptable">
  <tr>
    <td>  <%= f.input :school,label: "Name of school" %></td>

    <td><%= f.input :school_class,label: "Class" %></td>
  </tr>

<tr>
  <td> <%= f.input :f_name,label: "Father's name" %></td>

  <td>  <%= f.input :f_occupation,label: "Father's occupation" %></td>
</tr>

<tr>
  <td><%= f.input :m_name, label: "Mother's name" %></td>

  <td> <%= f.input :m_occupation, label: "Mother's occupation" %></td>
</tr>

<tr>
  <td> <%= f.input :g_name, label: "Name of Guardian" %></td>
  <td><a href="#" class="prev" id="prev1"> &lt;&lt; Prev</a><a href="#" class="next" id="next2" style="float:right;"> Next&gt;&gt; </a></td>
</tr>
</table>
</div>

<div id="dancedetails">
<table class="signuptable">
<tr>
  <td> <%= f.input :dance_school, label: "Name of dance school"%></td>

  <td><%= f.input :dance_teacher, label: "Name of dance teacher" %></td>
</tr>

<tr>
  <td>  <%= f.input :dance_years, label: "No of years studied", input_html: { max: 99, min: 0 } %></td>
  <td><a href="#" class="prev" id="prev2"> << Prev</a></td>
</tr>
<tr><td><%= f.submit "#{$bt_text}" , style:"width:100px;height:40px", class:"btn btn-primary"%></td></tr>
</table>
</div>
<% end %>
