<div class="maincontainer">
<h2>Admin</h2>
<ul>
<li>
<%= link_to 'Manage Gallery', albums_path %>
</li>
<li>
<%= link_to 'Students', users_path %>
</li>
<li>
<%= link_to 'Expenses', expenses_path %>
</li>
<li>
<%= link_to 'Course Enrollments', enrollments_path %>
</li>
<li>
<%= link_to 'Course Applications', enrollments_applications_path%>
</li>
<li>
<%= link_to 'Manage Branches', branches_path %>
</li>
</ul>
</div>