<script src="/assets/javascripts/enrollment.js"></script>
<div class="container">
<h1>Register</h1>
<div class="maincontainer">
<div class="signup">
	<div class="details" id="details">
	<h4>User details:</h4>
	<table class="signuptable">
    <%= form_for (@user) do |f| %>
      <%= render 'shared/error_messages' %>

		<tr>
			<td>  <%= f.label :name %></td><td> <%= f.text_field :name, class:"textbox" %></td>
		</tr>
		
		<tr>
			<td>     <%= f.label :email %></td><td> <%= f.text_field :email, class:"textbox" %></td>
		</tr>
		
		<tr>
			<td><%= f.label :password %></td><td><%= f.password_field :password, class:"textbox" %></td>
		</tr>
		<tr>
			<td><%= f.label :password_confirmation, "Confirmation" %></td><td><%= f.password_field :password_confirmation, class:"textbox" %></td>
		</tr>
		
		<tr>
			<td> <%= f.label :address %></td><td><%= f.text_field :address, class:"textbox" %></td>
		</tr>

		<tr>
			<td> <%= f.label :phone %></td><td> <%= f.telephone_field :phone, class:"textbox" %></td>
		</tr>
		<tr>
			<td> <%= f.label :sex %></td><td> <%= select_tag(:sex, options_for_select([['Male', 'M'], ['Female', 'F']])) %></td>
		</tr>
		

		<tr>
			<td><%= f.label :dob, "Date of Birth" %></td><td> <%= f.date_field :dob, class:"textbox" %></td>
		</tr>
		<tr>
			<td>  <%= f.label :school, "Name of school" %></td><td>  <%= f.text_field :school, class:"textbox" %></td>
		</tr>
		
		<tr>
			<td><%= f.label :school_class, "Class" %></td><td><%= f.text_field :school_class, class:"textbox" %></td>
		</tr>
		<tr>
			
			<td colspan="2"><a href="#" class="next" id="next1" style="float:right;"> Next >></a></td>
		</tr>
	</table>
		</div>
	<div class="otherdetails" id="otherdetails" >
	<h4>User details:</h4>
	<table class="signuptable">

		<tr>
			<td> <%= f.label :f_name, "Father's name" %></td><td><%= f.text_field :f_name, class:"textbox" %></td>
		</tr>
		
		<tr>
			<td>  <%= f.label :f_occupation, "Father's occupation" %></td><td> <%= f.text_field :f_occupation, class:"textbox" %></td>
		</tr>
		
		<tr>
			<td><%= f.label :m_name, "Mother's name" %></td><td> <%= f.text_field :m_name, class:"textbox" %></td>
		</tr>
		<tr>
			<td> <%= f.label :m_occupation, "Mother's occupation" %></td><td><%= f.text_field :m_occupation, class:"textbox" %></td>
		</tr>
		
		
		<tr>
			<td><a href="#" class="prev" id="prev1"> << Prev</a></td>
			<td><a href="#" class="next" id="next2" style="float:right;" > Next >></a></td>
		</tr>
	</table>
	</div>
	
	
	<div class="dancedetails" id="dancedetails">
	<h4>Dance details:</h4>
	<table class="signuptable">

		<tr>
			<td> <%= f.label :dance_school, "Name of dance school"%></td><td>  <%= f.text_field :dance_school, class:"textbox" %></td>
		</tr>
		
		<tr>
			<td><%= f.label :dance_teacher, "Name of dance teacher" %></td><td><%= f.text_field :dance_teacher, class:"textbox" %>
</td>
		</tr>
		
		<tr>
			<td>  <%= f.label :dance_years, "No of years studied" %></td><td> <%= f.number_field :dance_years, class:"textbox" %></td>
		</tr>
		
		<tr>
			<td> <%= f.label :g_name, "Name of Guardian" %></td><td><%= f.text_field :g_name, class:"textbox" %>
</td>
		</tr>

        <tr>
			<td>  <%= f.label :place %></td><td> <%= f.text_field :place, class:"textbox" %>
            </td>
		</tr>
		<tr>
			<td colspan="2" ><p>
								All the details furnished above are true and correct to the best of my knowledge and belief.
							</p>
			</td>
		</tr>
		
		<tr>
			<td ><div class="check">
				<input  type="checkbox" name="iagree" value="I Agree" >I Agree</td>
				</div>
			
				<td><%= f.submit "Apply", class: "btn btn-large btn-primary" %></td>
		
		</tr>
		
		<tr>
			<td><a href="#" class="prev" id="prev2"> << Prev</a></td>
			
		</tr>
<% end %>
	</table>
	</div>
</div>
</div>
</div> 
