<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
<table>
<tr>
<td>Email:</td>
<td><%= @user.email %></td>
</tr>
<tr>
<td>Address:</td>
<td><%= @user.address %></td>
</tr>
<tr>
<td>Phone:</td>
<td><%= @user.phone %></td>
</tr>
<tr>
<td>Gender:</td>
<td><%= @user.sex %></td>
</tr>
<tr>
<td>Date of birth:</td>
<td><%= @user.dob %></td>
</tr>
<tr>
<td>Name of School:</td>
<td><%= @user.school %></td>
</tr>
<tr>
<td>Class:</td>
<td><%= @user.school_class %></td>
</tr>
<tr>
<td>Father's name:</td>
<td><%= @user.f_name %></td>
</tr>
<tr>
<td>Father's Occupation:</td>
<td><%= @user.f_occupation %></td>
</tr>
<tr>
<td>Mother's name:</td>
<td><%= @user.m_name %></td>
</tr>
<tr>
<td>Mother's Occupation</td>
<td><%= @user.m_occupation %></td>
</tr>
<tr>
<td>Name of prev. dance school:</td>
<td><%= @user.dance_school %></td>
</tr>
<tr>
<td>Name of prev. dance teacher:</td>
<td><%= @user.dance_teacher %></td>
</tr>
<tr>
<td>No:of years studied:</td>
<td><%= @user.dance_years %></td>
</tr>
<tr>
<td>Name of Guardian:</td>
<td><%= @user.g_name %></td>
</tr>
<tr>
<td>Place:</td>
<td><%= @user.place %></td>
</tr>

</table>
</div>
