<div class="row container">
  <h1>Albums</h1>
  <%= link_to 'New', new_album_path, :class => 'btn btn-mini' %>
  <p></p>
  <ul class="thumbnails files">
    <% @albums.each do |album| %>
        <li class="span4" id="album_<%= album.id %>">
          <div class="thumbnail">
            <% if album.images.first %>
            <%= link_to image_tag(album.images.first.image_thumb), album_path(album) %>
            <% else %>
              N/A
            <% end %>
            <div class="caption">
              <p style="text-align: center;">
                <%= album.name.truncate(14) %>
                <%= link_to "Show", album_path(album) %>
                <%= link_to "Add", edit_album_path(album) %>
                <%= link_to "Delete", album,
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete
                %>
              </p>
            </div>
          </div>
        </li>
    <% end %>
  </ul>

</div>
