<div class="row container">
  <h1>Album</h1>

  <input type="hidden" id="albumID" value="<%= @album.id %>">

  <p>
    <b>Name: </b>
    <%= @album.name %>
  </p>

  <p>
    <b>Event: </b>
    <%= @album.event %>
  </p>

  <div class="form-actions">
    <%= link_to 'Back', albums_path, :class => 'btn btn-mini'  %>
    <%= link_to 'Edit album', edit_album_path(@album), :class => 'btn btn-mini' %>
    <%= link_to 'Delete album', album_path(@album), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-mini' %>
  </div>

<h2 style="padding-top:20px;">Images</h2>
</div>
<div class="row">
  <ul class="thumbnails files">
<% unless @images.empty? %>
  <% @images.each do |image| %>
    <li class="span3" id="image_<%= image.id %>">
    <div class="thumbnail">
      <%= image_tag image.image_thumb %>
      <div class="caption">
        <p style="text-align: center;">
        <%= link_to "View", image_path(image) %>

        <%=
          link_to "Delete", image,
            :data => { :confirm => "Are you sure?" },
            :method => :delete
          %>

        </p>
      </div>
    </div>
    </li>
  <% end %>
<% end %>
</ul>
</div>


