<h2>Expense Manager</h2>
<ul>
<li>
<%= link_to 'Add new expense', new_expense_path %>
</li>
</ul>
<h3>All expenses</h3>

<%= will_paginate %>
<div class="expenses">
	<table class="expenses expensetable">
  		<tr>
  			<th>Course:</th><th>Reg_no</th><th>Student:</th><th>Amount(Rs)</th><th>Category</th><th>Manage:</th>
  		</tr>
  		<% @expenses.each do |expense| %>
  		<tr>
  			<td><%= expense.course.name %></td>
  			<td class="center"><%= expense.user_id %></td>
  			<td><%= expense.user.name %></td>
  			<td class="center"><%= expense.amount %></td>
  			<td><%= expense.name %></td>
      		<td><%= link_to "delete", expense, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
		</tr>                         
  		<% end %>
  	</table>
</div>
<%= will_paginate %>