<h2>Add expense</h2>
<br/>
<% a=5 %>
<%= simple_form_for (@expense) do |f| %>
<table class="expensetable" id="exp_table">
<tr><th>Course:</th><th>Reg_no:</th><th>Category:</th><th>Amount:</th><th>Note:</th></tr>
<tr>
    <td><%= f.select :course_id, options_from_collection_for_select(@courses, :id, :name)%></td>
    <td><%= f.select :user_id, options_from_collection_for_select(@users, :id, :id)%></td>
    <td><%= f.input :name, label: false %></td>
    <td><%= f.input :amount, label: false, input_html: { min: 0, step: 0.5 } %></td>
    <td><%= f.input :detail, label: false %></td>
</tr>	
<tr>
<td>
    <%= f.submit "Save" , style:"width:100px;height:40px", class:"btn btn-primary"%>
</td>
</tr>
</table>
<% end %>
<div class="studentdetail">
</div>