<div style="position: relative;" id="navg" class="navigation">
<div class="logo"></div>
<div class="logincontainer">
<div class="login">


<!--<form id="loginform" name="loginform">
<input class="text" type="text" placeholder="Username" style="height:30px">
	<input class="text" type="password" placeholder ="Password" style="height:30px">
	 <div class="loginbtn" style="padding-top: 5px">
	<a class="log" href='#'>Login</a></div>
</form>-->
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= "#{current_user.name}" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>

    <%= form_for(:session, url: sessions_path, style:'margin-bottom:0px',id:'loginform') do |f|  %>
      <%= f.text_field :email, placeholder:"email id", class: "text", style:'padding-left:20px;
background-color:transparent;
border-left:none;
		border-top:none;
		border-right:none;
		border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #0ec405;
		width:200px;
		height:30px;
		margin-left:20px;' %>
      <%= f.password_field :password, placeholder:"password", class:"text",style:'padding-left:20px;
background-color:transparent;
border-left:none;
		border-top:none;
		border-right:none;
		border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #0ec405;
		width:200px;
		height:30px;
		margin-left:20px;' %>

      <%= f.submit "Login", class: "loginbtn"%>
    <%end%>
  <%end%>
</div>
</div><div style="top: 103px;" id="shdw" class="shdw"></div>
</div>
	<div class="serachmenucontainer" style="position: relative;">
 <div class="samplemenu">
	
	<div class="menu"> <a href="/">HOME</a> </div>
	<div class="menu"> <a href="/expression">EXPRESSION</a> </div>
	<div class="menu"> <a href="/images">GALLERY</a> </div>
	<div class="menu"> <a href="/signup">ENROLLMENT</a> </div>
	<div class="menu"> <a href="/classes">CLASSES & FEES</a> </div>
	
	<div class="menu"> <a href="/about">ABOUT US</a> </div>
	<div class="menu"> <a href="/contact">CONTACT</a> </div>
</div>	  
	</div>
